[submodule "radio/third-party/FreeRTOS/FreeRTOS-Kernel"]
	path = radio/third-party/FreeRTOS/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "radio/third-party/lwip/lwip"]
	path = radio/third-party/lwip/lwip
	url = git@github.com:lwip-tcpip/lwip.git
